*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #5866e4;
}

.header-container{
    display: flex;
}

.h-col-right{
    width: 50%;
    height: 50px;
    
}

.h-col-left{
    width: 50%;
    height: 50px;
}
