/* rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.va{
    vertical-align: middle;
}

/* header */
header{
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-container{
    display: flex;
}

.h-col-right{
    width: 50%;
    padding: 15px;

}

.h-col-right img{
    vertical-align: middle;
    display: inline;
}

header ul{
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
}

header ul li{
    vertical-align: middle;
    display: inline;
    margin: 10px;

}

.h-col-left{
    width: 50%;
    /* height: 50px;  */
    text-align: right;
    padding: 12px;
}

h2{
    font-size: xx-large;
    margin-bottom: 40px;
}

/* jumbo */

.jumbotron{
        padding-top: 40px;
        background-color: #85a7c1;
        height: 610px;
}

.j-container{
    max-width: 1000px;
    margin: 80px auto;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
}

.j-col-full{
    width: 900px;
    height: 100px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 70px;
    text-align: left;
    margin-top: 60px;
}

.j-col-left{
    width: 270px;
    height: 300px;
    /* border: 1px solid black; */
    text-align: left;
}

.j-col-right{
    width: 630px;
    height: 300px;
    /* border: 1px solid black; */
    /* text-align: center; */
}

.jumbotron img{
    width: 700px;
    height: 400px;
    margin-bottom: 50px;
}

.underjumbo{
    margin: 100px 0;
    background-color: lightgray;
}

.bottomblu{
    background-color: #2525fa;
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: 5px 8px 8px 8px;
}

.freccia{
    font-size: xx-large;
    margin-top: 75px;
}

/* main */
.m-container{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.main-container h3{
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: x-large;

}
.main-container{
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    gap: 10px;
    
}

.titoloplans{
    width: 100%;
    height: 150px;
}

.for{
    margin: 4px auto;
}

.tempo{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 15px;
}

.descrz{
    padding: 20px;
    text-align: left;
    font-size: 14px
}

.bottomblumain{
    background-color: #2525fa;
    text-align: center;
    display: inline-block;
    color: #fff;
    padding: 5px 8px 8px 8px;
    margin: 20px auto 15px auto;
}

.main-container hr{
    background-color: black;
}

.top-m-col-left{
    width: 33%;
    min-height: 900px;
    border: 1px solid #85a7c1;
}

.top-m-col-central{
    width: 33%;
    min-height: 850px;
    border: 1px solid #85a7c1;
}

.top-m-col-right{
    width: 33%;
    min-height: 850px;
    border: 1px solid #85a7c1;
}


.corto{
    width: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    background-color: #85a7c1;
    
}

.main-container ul{
    list-style-type: none;
    
}
.main-container ul li{
    line-height: 20px;
    margin-bottom: 15px;
}

.main-container ul li::before{
    content: "\2714";
    color: #2525fa;

}

/* utility */
/* togli i primi due questi */
/* .bg-color{
    background-color: #d2cece;
    border: 1px dashed black;
}
    
.bg-colorazz{
        background-color: aquamarine;
        border: 1px solid black;
} */
        
.text-align{
            text-align: left;
}
        
.my15{
            margin: 15px 0;
}
        
.myb20{
            margin-bottom: 20px;
}
        
.grey{
            background-color: #85a7c1; 
}
        

.mytd{
            margin-top: 30px;
            margin-bottom: 50px;
        }
        

        
        /* central main */
        
        .content-central{
    width: 100%;
    height: 400px;
    display: flex;
    margin-top: 50px;
}

.col-center-right{
    width:60%;
    height: 400px;

}

.col-center-left{
    width: 40%;
    height: 400px;
    text-align: left;
    line-height: 20px;

}

.col-center-left h3{
    margin-bottom: 30px;
}
/* down main */

.titolofunzioni{
    margin-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
}

.funzioni{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.col30d{
    width: 31%;
    height: 350px;
}

.contact{
    width: 100%;
    height: 150px;
    border: 1px solid #85a7c1;
    display: flex;
}

.displayblock{
    display: block;
    border: 1px solid #85a7c1;
    margin-top: 30px;
}


.colleftent{
    width: 65%;
    text-align: left;
    line-height: 30px;
    padding-left: 30px;
    
}

.colrightent{
    width: 35%;
}

.fondomain{
    margin-top: 170px;
    margin-bottom: 50px;
    width: 60%;
    height: 150px;
    text-align: left;
}

.bottomwhitemain{
    background-color: #fff;
            text-align: center;
            color: hsl(0, 13%, 6%);
            border:1px solid #85a7c1;
            padding: 7px;
            display: inline-block;
            margin-top: 30px;

}

.bottomblumaindown{
            background-color: #2525fa;
            text-align: center;
            display: inline-block;
            color: #fff;
            padding: 5px 20px;
            margin-top: 15px;
            margin-right: 15px;
}

.footertop{
    width: 100%;
    height: 400px;
    background-color: black;
    justify-content: space-between;
    padding-top: 50px;
}

.footerline{
    width: 100px;;
    background-color: hwb(345 89% 9%);
    margin-left: 250px;
}

.footerdown{
    width: 100%;
    height: 70px;
    background-color: black;
}

.col-center-right img{
    width: 440px;
    height: 400px;
    margin-right: 100px;
}

.funzioni img{
    width: 200px;
    height: 150px
    
}

.funzioni p{
    font-size: small;
}

.perwhite i{
    color: #fff;
    margin-top: 20px;
    margin-left: 270px;
}

.perwhite{
    color: #fff;
    font-size: small;
}

.f-col{
    color: #fff;
    margin-left: 60px;    
    width: 15%;
    line-height: 30px;
}

.f-cont{
    width: 90%;
    display: flex;
    margin-left: 80px;
    
}

footer{
    background-color: black;
}